<h1>영화검색</h1>

<div class="container">
    <form action="/index">
        <div class="form-group">
        <label for="title">영화 추가</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="영화">
        </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    
    <p>title = <%=@movie_title %></p>
    <p>released = <%=@movie_released %></p>
    <img src='<%=@movie_poster%>'>
</div>